<body>
    
    <header class="header">
        <div class="top-bar container-fluid">
            <div class="actions">
                <a class="btn d-none d-md-inline-block" href="mailto:drscarbro@gmail.com"><i class="fa fa-paper-plane" aria-hidden="true"></i> Hire Me</a>
                <a class="btn" href="assets/Daniel-Scarbrough-Resume.pdf"><i class="fa fa-download" aria-hidden="true"></i> Download My Resume</a>
            </div><!--//actions-->
            <ul class="social list-inline">
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/daniel-scarbrough"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a href="https://github.com/drscarbro"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
            </ul><!--//social-->
        </div><!--//top-bar-->
        
        <div class="intro">
            <div class="container text-center">
                    <img class="profile-image" <%= asset_path('/profile-image.png') %> alt="my mug">
                <h1 class="name">Daniel Scarbrough</h1>
                <div class="title">Full Stack Developer</div>
                <div class="profile">
                    <p>I'm a full stack developer. I specialize in .Net MVC, Rails, or Node.js. You should read a little more below, or contact me and I'll tell you all about it. I am passionate about technology and the ways technology elevates the quality of our lives.</p>
                </div><!--//profile-->
            </div><!--//container-->
        </div><!--//intro-->
        
        <div class="contact-info">
            <div class="container text-center">
                <ul class="list-inline">
                    <li class="email list-inline-item"><i class="fa fa-envelope"></i><a href="mailto:drscarbro@gmail.com">Daniel Scarbrough</a></li>
                    <li class="website list-inline-item"><i class="fa fa-globe"></i><a href="http://www.danielscarbrough.com" target="_blank">danielscarbrough.com</a></li>
                </ul>
            </div><!--//container-->
        </div><!--//contact-info-->
        
        <div class="page-nav-space-holder d-none d-md-block">
            <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
                <div class="container">
                    <ul id="page-nav" class="nav page-nav list-inline">
                        <li class="nav-item"><a class="scrollto nav-link" href="#experiences-section">Experiences</a></li>
                        <li class="nav-item"><a class="scrollto nav-link" href="#education-section">Education</a></li>
                        <li class="nav-item"><a class="scrollto nav-link" href="#skills-section">Skills</a></li>
                        <li class="nav-item"><a class="scrollto nav-link" href="#testimonials-section">Testimonials</a></li>
                        <li class="nav-item"><a class="scrollto nav-link" href="#portfolio-section">Portfolio</a></li>
                        <li class="nav-item"><a class="scrollto nav-link" href="#contact-section">Contact</a></li>
                    </ul><!--//page-nav-->
                </div>
            </div><!--//page-nav-wrapper-->
        </div>
        
    </header><!--//header-->
    
    <div class="wrapper container">
        <section id="experiences-section" class="experiences-section section">
            <h2 class="section-title">Work Experiences</h2>
            <div class="timeline">
                
                <div class="item">
                    <div class="work-place">
                        <h3 class="place">Arvest Bank</h3>
                        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Lowell, AR</div>
                    </div>
                    <div class="job-meta">
                        <div class="title">Software Analyst III</div>
                        <div class="time">2014 - Present</div>
                    </div><!--//job-meta-->
                    <div class="job-desc">
                        <p></p> 
                        <ul>
                            <li>ERP Systems Support</li>
                            <li>.Net and ECMAScript Development</li>
                            <li>MS SQL Database Queries</li>
                            <li>Websphere Configuration and Maintenance</li>
                        </ul>
                    </div><!--//job-desc-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="work-place">
                        <h3 class="place">HP Managed Print Services</h3>
                        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>North West Arkansas</div>
                    </div>
                    <div class="job-meta">
                        <div class="title">Field Technician</div>
                        <div class="time">2013 - 2014</div>
                    </div><!--//job-meta-->
                    <div class="job-desc">
                        <p>Manage daily work load: troubleshoot, maintain, repair, and inventory printers at multiple locations.</p> 
                    </div><!--//job-desc-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="work-place">
                        <h3 class="place">Compucom</h3>
                        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Bentonville, AR</div>
                    </div>
                    <div class="job-meta">
                        <div class="title">SME (Subject Matter Expert)</div>
                        <div class="time">2012 - 2013</div>
                    </div><!--//job-meta-->
                    <div class="job-desc">
                        <p>Manage daily workload. Develop training material and processes for Hardware Service Desk.</p> 
                    </div><!--//job-desc-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="work-place">
                        <h3 class="place">Systems Maintenance Services (SMS)</h3>
                        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Bentonville, AR</div>
                    </div>
                    <div class="job-meta">
                        <div class="title">Founder &amp; Lead Developer</div>
                        <div class="time">2010 - 2012</div>
                    </div><!--//job-meta-->
                    <div class="job-desc">
                        <p>Third Party warranty provider of Maintenance and Repair of IBM, HP, EMC, Dell, and Cisco systems.</p> 
                    </div><!--//job-desc-->
                </div><!--//item-->
                
            </div><!--//timeline-->
            
        </section><!--//section-->
        
        <section id="education-section" class="education-section section">
            <h2 class="section-title">Education</h2>
            <div class="row">
                <div class="item col-12 col-md-4">
                    <div class="item-inner">
                        <h3 class="degree">BSc Software Engineering</h3>
                        <div class="education-body">
                            University of Phoenix
                        </div><!--//education-body-->
                        <div class="time">2013 - 2016</div>
                        <div class="desc">
                            OOP (Object Oriented Program) Design emphasizing system architecture and project management.
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//row-->
        </section><!--education-section-->
                
        <section id="skills-section" class="skills-section section text-center">
            <h2 class="section-title">Professional Skills</h2>
            <div class="top-skills">
                <h3 class="subtitle">Top Skills</h3>
                <div class="row">
                    <div class="item col-12 col-md-3">
                        <div class="item-inner">
                            <div class="chart-easy-pie text-center">
                                <div class="chart-theme-1 chart" data-percent="75"><span>75</span>%</div>
                            </div>
                            <h4 class="skill-name">.Net MVC</h4>
                            <div class="level">Intermediate, 3 years</div>
                            <div class="desc">
                                Continuing to develop my .Net MVC skills by utilizing .Net Core in Docker Containers on Azure. My current skillset includes Web API, .Net MVC 5, Entity Framework, and Azure Application Deployments.
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-12 col-md-3">
                        <div class="item-inner">
                            <div class="chart-easy-pie text-center">
                                <div class="chart-theme-1 chart" data-percent="75"><span>75</span>%</div>
                            </div>
                            <h4 class="skill-name">Rails</h4>
                            <div class="level">Intermediate, 3 years</div>
                            <div class="desc">
                                Currently working on projects for local businesses.
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-12 col-md-3">
                        <div class="item-inner">
                            <div class="chart-easy-pie text-center">
                                <div class="chart-theme-1 chart" data-percent="60"><span>60</span>%</div>
                            </div>
                            <h4 class="skill-name">JavaScript</h4>
                            <div class="level">Junior, 3 years</div>
                            <div class="desc">
                                Continuing to develop Node.js. Current skillset includes Raw JS and JQuery for manipulating DOM elements, querying the model and returning data to the View.
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-12 col-md-3">
                        <div class="item-inner">
                            <div class="chart-easy-pie text-center">
                                <div class="chart-theme-1 chart" data-percent="40"><span>40</span>%</div>
                            </div>
                            <h4 class="skill-name">React &amp; Angular</h4>
                            <div class="level">Junior, 1 years</div>
                            <div class="desc">
                                Currently developing this skillset to complement my others.
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                </div><!--//row-->
            </div><!--//top-skills-->
            
            <div class="other-skills">
                <h3 class="subtitle">Other Skills</h3>
                <div class="misc-skills">
                    <span class="skill-tag">HTML5</span>
                    <span class="skill-tag">CSS3</span>
                    <span class="skill-tag">SASS</span>
                    <span class="skill-tag">Git</span>
                    <span class="skill-tag">Windows</span>
                    <span class="skill-tag">Linux</span>
                    <br>
                    <span class="skill-tag">Ruby</span>
                    <span class="skill-tag">R</span>
                    <span class="skill-tag">MongoDB</span>
                    <span class="skill-tag">Postgres</span>
                    <br>
                    <span class="skill-tag">MS SQL</span>
                    <span class="skill-tag">Docker</span>
                    <span class="skill-tag">Kafka</span>
                    <span class="skill-tag">Azure</span>
                    <span class="skill-tag">AWS</span>
                </div>
            </div><!--//other-skills-->
        </section><!--//skills-section-->
        
        <section id="contact-section" class="contact-section section">
            <h2 class="section-title">Get in Touch</h2>
            <div class="intro">
                <img class="profile-image" src="assets/profile-image.png" alt="my mug">
                <div class="dialog">
                    <p>I'm currently taking on freelance work.</p>
                    <p><strong>I can help with the following:</strong></p>
                    <ul class="list-unstyled service-list">
                        <li><i class="fa fa-check" aria-hidden="true"></i> App development with Rails or .Net</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Front-end development with React or AngularJS</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Back-end development with Ruby, C#, and Node.js</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> UI development</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> UX prototyping</li>
                    </ul>
                    <p>Drop me a line at <a href="mailto:drscarbro@gmail.com">drscarbro@gmail.com</a></p>
                    <ul class="social list-inline">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/daniel-scarbrough"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/drscarbro"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                    </ul><!--//social-->
                </div><!--//diaplog-->
            </div><!--//intro-->

        </section><!--//section-->
        
    </div><!--//wrapper-->
    
    <footer class="footer text-center">
        <div class="container">
            <small class="copyright">Template Copyright @ <a href="http://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a></small>
        </div><!--//container-->
    </footer>